body,
html,
h1,
h2,
section {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Alegreya Sans';
  color: #333333; }

a {
  color: #333333;
  transition: all .3s;
  text-decoration: none; }
  a:hover {
    color: #6bba3d; }

header {
  width: 100%;
  padding: 40px 0;
  text-align: center;
  background-color: #eeeeee; }
  header h1 {
    font-size: 42px;
    letter-spacing: .06em; }
  header p {
    font-size: 21px; }

.demo {
  width: 90%;
  min-width: 750px;
  height: 70vh;
  min-height: 550px;
  margin: 100px auto;
  background-color: #eeeeee;
  position: relative; }
  .demo h2 {
    font-size: 52px;
    position: absolute;
    top: -26px;
    left: -22px;
    transform: rotate(-3deg); }
  .demo .centering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

footer {
  text-align: center; }
  footer .github {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: url(../svg/github.svg) center center/100% no-repeat; }
