body,
html,
h1,
h2,
section {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
    color: #333;
}

a {
    color: #333;
    &:hover {
        text-decoration: none;
    }
}

.demo {
    width: 90%;
    min-width: 600px;
    height: 70vh;
    min-height: 600px;
    margin: 100px auto;
    background-color: #eee;
    position: relative;
    h2 {
        font-size: 48px;
        position: absolute;
        top: -35px;
        left: -20px;
    }
    .centering {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.title {
    background-color: #ddd;
    width: 100%;
    padding: 40px 0;
    text-align: center;
    h1 {
        font-size: 48px;
    }
    p {
        font-size: 24px;
    }
}

.github {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: url(../svg/github.svg) center center/100% no-repeat;
}
