@import 'base';

#demo3 {
    .circle {
        width: 30px;
        height: 30px;
        margin: 10px;
        display: inline-block;
        border-radius: 50%;
        &.green {
            background-color: #00B666;
        }
        &.yellow {
            background-color: #DBBB2E;
        }
        &.red {
            background-color: #F13B2D;
        }
        &.blue {
            background-color: #3E6BF8;
        }
    }
}

#demo2 {
    .before {
        width: 50px;
        height: 50px;
        background-color: #aaa;
        border-radius: 50%;
    }
}

#demo1 {
    background-color: #3E1F1A;
    path {
        fill: #fff;
    }
    .steam {
        position: absolute;
        top: -55px;
        left: 10px;
    }
}
