@import 'base';

#demo5 {
  .number-box {}
}

#demo4 {
  position: relative;
  .ripple-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .ripple {
      position: absolute;
      $ripple-size: 20px;
      top: $ripple-size/-2;
      left: $ripple-size/-2;
      width: $ripple-size;
      height: $ripple-size;
      background-color: rgba(87, 157, 204, .5);
      opacity: .25;
      border-radius: 50%;
    }
  }
}

#demo3 {
  .bounded-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    .bounded-letter {
      position: relative;
      margin: 0 3px;
      &.bounded-g {
        top: 20px;
      }
    }
  }
}

#demo2 {
  .circle2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $green;
  }
}


#demo1 {
  .circle1 {
    width: 30px;
    height: 30px;
    margin: 10px;
    display: inline-block;
    border-radius: 50%;
    &.green {
      background-color: #00B666;
    }
    &.yellow {
      background-color: #DBBB2E;
    }
    &.red {
      background-color: #F13B2D;
    }
    &.blue {
      background-color: #3E6BF8;
    }
  }
}
